<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar'); %>
        <!--  BEGIN MAIN CONTAINER  -->
        <div class="main-container" id="container">
            <%- include('partials/navigation'); %>
                <div class="container ">

                    <div class="form-container  mt-5 ">
                        <div class="form-form">

                            <div class="form-container">
                                <div class="form-content">
                                    <div class="form text-left">
                                        <div id="username-field" class="field-wrapper input mb-2">
                                            <label for="carnet">CARNET</label>
                                            <input id="carnet" name="carnet" type="text" class="form-control"
                                                placeholder="201136544">
                                        </div>
                                        <div id="email-field" class="field-wrapper input mb-2">
                                            <label for="cui">CUI</label>
                                            <input id="cui" name="cui" type="text" value="" class="form-control"
                                                placeholder="2785369800101">
                                        </div>
                                        <div id="email-field" class="field-wrapper input mb-2">
                                            <label for="name">NOMBRE COMPLETO</label>
                                            <input id="name" name="name" type="text" value="" class="form-control"
                                                placeholder="Juan Henandez">
                                        </div>

                                         <div id="email-field" class="field-wrapper input mb-2">
                                            <label for="dob">FECHA DE NACIMIENTO</label>
                                            <input id="dob" name="dob" type="text" value="" class="form-control"
                                                placeholder="26/09/1995">
                                        </div>

                                        <div id="email-field" class="field-wrapper input">
                                            <label for="email">CORREO ELECTRONICO</label>
                                            <input id="email" name="email" type="text" value="" class="form-control"
                                                placeholder="Email">
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-12 mt-2">
                                                <button type="button" id="save" class="btn btn-primary btn-block"
                                                    value="">Save Student</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>



        <%- include('partials/script'); %>

            <script>
            


                $("#save").on("click", function () {
                    $.ajax({
                        type: "POST",
                        url: "/endpoint/newStudent",
                        data: {
                            carnet: $("#carnet").val(),
                            cui: $("#cui").val(),
                            nombre: $("#name").val(),
                            dob: $("#dob").val(),
                            correo: $("#email").val()
                        },
                        success: function (response) {
                            $("#carnet").val("")
                            $("#cui").val("")
                            $("#name").val("")
                            $("#email").val("")
                            Snackbar.show({
                                text: 'Student Saved',
                                pos: 'bottom-right',
                                actionTextColor: '#fff',
                                backgroundColor: '#8dbf42'
                            });
                        },
                        error: function () {
                            alert('Error occured');
                        }
                    });
                });


                $(document).ready(function () {
                    App.init();

                });
            </script>
</body>

</html>